/* body {
    direction: rtl;
} */


.navbar-nav {
    margin-left: auto;
}

p {
    text-align: justify;
    text-justify: inter-word;
}


.navbar-brand {
    margin-left: 5rem;
}

.collapse {
    margin-right: 5rem;
}

#body {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}